
@*@model IEnumerable<CategoryVM>*@
@model Tuple<IEnumerable<CategoryVM>,IEnumerable<CategoryVM>,IEnumerable<CategoryVM>,IEnumerable<CategoryVM>,string,DateTime>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<h1 class="display-1">@Model.Item5</h1>
<h1 class="display-1">@Model.Item6</h1>
@*<h1 class="display-1">@ViewData["CodeEdu"]</h1>
<h1 class="display-1">@TempData["CodeEduAz"]</h1>*@
<div class="row">
  
    @Html.Partial("_CategoryListPartialView",(IEnumerable<CategoryVM>)@Model.Item3)
    <partial name="_CategoryListPartialView" model="@Model.Item2" />
    <partial name="_CategoryListPartialView" model="@Model.Item3" />
    <partial name="_CategoryListPartialView" model="@Model.Item4" />

 @*   @Html.Partial("_CategoryListPartialView",(IEnumerable<CategoryVM>)ViewData["CategoriesViewData"])
    <partial name="_CategoryListPartialView" model='(IEnumerable<CategoryVM>)ViewData["CategoriesViewData"]' />
    <partial name="_CategoryListPartialView" model='(IEnumerable<CategoryVM>)TempData["CategoriesTempData"]' />
    <partial name="_CategoryListPartialView" model="ViewBag.CategoriesViewBag" />*@
</div>
